config netpolicyd 'main'
    option enabled '0'
    option config '/etc/netpolicyd/rules.yaml'
    option state 'normal'
    option web '1'
    option bind '0.0.0.0:8787'
    option web_root '/usr/share/netpolicyd'
    option log_file '/var/log/netpolicyd.log'
    option xray_bin '/usr/bin/xray'
    option xray_config '/etc/xray/config.json'
    option xray_log '/var/log/xray.log'
    option xray_autostart '0'
